<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace= "com.finallypro2.dao.LoginDao" >

    <select id="getIdBy_message" parameterType="Integer" resultType="Integer">
        select id from
        <if test="role == 1 ">user_message</if>
        <if test="role == 0 ">work_message</if>
        ORDER BY id desc limit 0,1
    </select>

    <insert id="register_message" parameterType="Integer">
        insert into
        <if test="arg0 == 1">user_message (name,place,phone,part) values (#{param2},#{param3},#{param4},#{param5})</if>
        <if test="arg0 == 0">work_message (name,place,phone,part) values (#{param2},#{param3},#{param4},#{param5})</if>
    </insert>

    <insert id="register_login" parameterType="com.finallypro2.POJO.Login_id">
        insert into login_id (account,passwd,role,username,part) values (#{account},#{passwd},#{role},#{username},#{part})
    </insert>

    <select id="getUsername" resultType="com.finallypro2.POJO.Login_id">
        select * from login_id where part in ( ${param1} )
    </select>

    <select id = "loginSystem" resultType= "com.finallypro2.POJO.Login_id">
        select * from login_id where account = #{arg0} and passwd = #{arg1}
    </select>

    <select id = "check_account" parameterType="String" resultType= "com.finallypro2.POJO.Login_id">
        select * from login_id where account = #{arg0}
    </select>
</mapper>