<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.finallypro2.dao.RootGoodsDao">

    <delete id="deldata">
        delete from goods_work where id in (#{param1})
    </delete>

    <select id="getAll_Goods_Work" resultType="com.finallypro2.POJO.Goods_work">
        select * from goods_work

        <if test="offset != null and limit != null">
            limit #{offset},#{limit}
        </if>

    </select>

    <select id="getAll_Goods_num" resultType="Integer">
        select count(*)
        from goods_work
    </select>

</mapper>