<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace= "com.finallypro2.dao.TalkDao" >

<!--    <select id="getAll_User_people" resultType="com.finallypro2.POJO.Talk_people">-->
<!--        select * from talk_people where apart = ${param1}-->
<!--    </select>-->

<!--    <select id = "getAll_Work_people" resultType= "com.finallypro2.POJO.Talk_people">-->
<!--        select * from talk_people where bpart = ${param1}-->
<!--    </select>-->




    <select id = "getAll_talk_people" resultType= "com.finallypro2.POJO.Talk_people">
        select * from talk_people
        <where>
            <if test="talk.apart != null">
                apart = #{talk.apart}
            </if>
            <if test="talk.bpart != null">
                bpart = #{talk.bpart}
            </if>
        </where>
    </select>
</mapper>